div#header-links{
  float: right;
}
.slider-size{
  height: 400px;
}

.carousel{
  width: 100%;
  }

#carousel-example-generic{
  margin: 100px auto 30px;
}

#carousel-1{
  margin: 30px auto 30px;
}

#carousel-2{
  margin: 20px auto 30px;
}

@media only screen and (max-device-width: 480px) {
  #carousel-example-generic {margin: 0px}

  #carousel-1{
    margin: 20px auto 20px;
  }

  #carousel-2{
    margin: 10px auto 10px;
  }


}
